<div class="row period-selector" id="period-selector">
    <%= form({action: changePath, method: "GET", id: "period-selector-form"}) { %>
    <div class="col-md-3">
        <label for="period-selector">Period</label>
        <%= f.SelectTag({name: "Period", value: SelectedPeriod, options: Periods }) %>
    </div>
    <div class="col-md-3">
        <label for="week-selector">Week</label>
        <%= f.SelectTag({name: "Week", value: SelectedWeek, options: Weeks }) %>
    </div>
    <div class="col-md-2">
        <label for="year-selector">Year</label>
        <%= f.SelectTag({name: "Year", value: SelectedYear, options: Years }) %>
    </div>
    <div class="col-md-4">
        <div class="input-group input-daterange align-bottom">
            <input type="text" class="form-control" name="StartTime" value="<%= format_date(StartTime) %>">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" name="EndTime" value="<%= format_date(EndTime) %>">
        </div>
        <!-- <input class="input-daterange" -->
    </div>
    <% } %>
</div>

<%= javascriptTag\("period_selector.js")\) %>