<div id="datagrid-holder" data-url="<%= editPurchaseOrderPath() %>" update-url="<%= purchaseOrderPath() %>" order-sheet-url="<%= purchaseOrderOrderSheetPath() %>" receiving-list-url="<%= purchaseOrderReceivingListPath() %>"></div>
  <%= if (len(openPurchaseOrders) > 0) { %>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
          <h4>Open Orders</h4>
      </div>
    </div> 
    <div class="row" id="open-order-datagrid" data='<%= json(openPurchaseOrders) %>'>

    </div>
  <% } %>
  <%= if (len(recPurchaseOrders) > 0) { %>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
          <h4>Received Orders</h4>
      </div>
    </div> 
    <div class="row" id="rec-order-datagrid" data='<%= json(recPurchaseOrders) %>'>

    </div>
  <% } %>
</div>

<%= javascriptTag("purchase_orders_datagrid.js") %>
