<div class="row">
        <%= f.InputTag("OrderDate", {data-provide: "datepicker", id: "new-order-date", value: today() }) %>
</div>
<div class="row">
        <%= f.SelectTag("Vendor", {options: vendors, id: "new-order-vendor", name: "VendorID" }) %>
</div>
<input type="text" name="Items" style="visibility: collapse;"/>
<div class="row">
    <div id="vendor-items-table">

    </div>
    <div id="category-breakdown">

    </div>
</div>
<button class="btn btn-success" role="submit" onclick="sendOrderItems()">Save</button>

<script>
    
</script>