    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="received-order-checkbox" <%= if (po.ReceivedDate.Valid) { %>checked<% } %>>
        <label class="form-check-label check-label-right">Received order</label>
    </div>

<%
    let orderDate = today()
    let recDate = today()
    if (po.OrderDate.Valid) {
        orderDate = format_date(po.OrderDate.Time)
    }
    if (po.ReceivedDate.Valid) {
        recDate = format_date(po.ReceivedDate.Time)
    }
%>
<%= f.InputTag("OrderDate", {data-provide: "datepicker", id: "new-order-date", value: orderDate }) %>
<div id="received-date-input" <%= if (!po.ReceivedDate.Valid) { %>style="display: none"<% } %>>
    <%= f.InputTag("ReceivedDate", {data-provide: "datepicker", id: "new-received-date", value: recDate }) %>
</div>
<div class="row">
  <div class="col-8">
    <%= f.SelectTag("Vendor", {options: vendors, id: "new-order-vendor", name: "VendorID" }) %>
  </div>
  <div class="col-4">
    <a id="edit-vendor-button" href="#" style="display: none;"
       base_href='<%= editVendorPath({vendor_id: "{vendor_id}"}) %>'
       class="btn btn-primary" role="button">
          Edit Vendor
    </a>
  </div>
</div>

<div id="vendor-items-map" data='<%= json(vendorItemsMap) %>'></div>
<input type="text" name="Items" style="display: none;"/>

<div id="categorized-items-display" class="row" data="<%= po.Items.String() %>"></div>

<%= if (errors) { %>
    <div class="row alert alert-danger">
        <%= errors %>
    </div>
<% } %>
<div id="form-errors" class="row alert alert-danger" style="display: none;">

</div>

<button id="purchase-order-form-submit" class="btn btn-success" role="submit">Save</button>

<%= javascriptTag(assetPath("orders/purchase_order_form.js")) %>