<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h4>Inventory Items</h4>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Count</th>
                    <th>Total Cost</th>
                </thead>
                <tbody>
                    <%= for (Items) in categoryGroups { %>
                        <tr class="category-header">
                            <td colspan="100">
                                <span style="background-color: <%= Items[0].Category.Background %>">
                                    <%= Items.Category.Name %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100">
                                <table class="datagrid">
                                    <thead style="display: none;">
                                        <th>Name</th>
                                        <th>Cost</th>
                                        <th>Count</th>
                                        <th>Total Cost</th>
                                    </thead>
                                    <tbody>
                                        <!-- list VendorItem -->
                                        <%= for (Item) in Items { %>
                                            <tr>
                                                <td><%= Item.InventoryItem.Name %></td>
                                                <td><%= Item.Price %></td>
                                                <td>0</td>
                                                <td>$0.00</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>