<div class="page-header">
  <h1 class="text-center">Orders</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newPurchaseOrdersPath() %>" class="btn btn-primary">Create New PurchaseOrder</a></li>
</ul>

<table id="datagrid" data-toggle="table" class="table table-bordered" data-provide="datagrid">
  <thead>
    <th>Vendor</th>
    <th>Order Date</th>
    <th>Received Date</th>
    <th>Cost</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (purchaseOrder) in purchaseOrders { %>
      <tr>
        <td data-editable="false"><%= purchaseOrder.Vendor.Name %></td>
        <td data-type="date"><%= format_date(purchaseOrder.OrderDate) %></td>
        <td data-type="date"><%= format_date(purchaseOrder.ReceivedDate) %></td>
        <td data-editable="false"><%= format_money(purchaseOrder.GetCost()) %></td>
        <td data-editable="false">
          <div class="pull-right">
            <a href="<%= purchaseOrderPath({ purchase_order_id: purchaseOrder.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editPurchaseOrderPath({ purchase_order_id: purchaseOrder.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= purchaseOrderPath({ purchase_order_id: purchaseOrder.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
