<div class="page-header">
  <h1 class="text-center">Orders</h1>
</div>
<div class="row">
  <div class="col-12 float-right">
    <a href="<%= newPurchaseOrdersPath() %>" class="btn btn-primary float-right">New Purchase Order</a>
  </div>
</div>
<div class="row" id="period-selector-component" onchange-href="<%= purchaseOrdersPath() %>">
    <%= partial("partials/period_selector.html") %>
</div>
<data id="purchase-orders-holder" value='<%= json(purchaseOrders) %>'></data>
<div class="row" id="trend-chart">
  <!-- _trend_chart parial is put in here -->
</div>
<div class="row" id="summary-table">
  <!-- _summary_table partial is put in here -->
</div>
<br/>
<div id="datagrid-holder">
    
</div>

<%= javascriptTag("purchase_orders_index.js") %>
<%= javascriptTag("purchase_orders_datagrid.js") %>
