<div id="receiving-sheet" style="width: 800px;">
  <div class="span12">
    <h4 style="text-align: center;"><%= purchaseOrder.Vendor.Name %> Receiving List</h4>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      Contact:
    </div>
    <div class="col-md-2">
      <%= purchaseOrder.Vendor.Contact %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      Phone:
    </div>
    <div class="col-md-2">
      <%= purchaseOrder.Vendor.PhoneNumber %>
    </div>
    <div class="offset-md-4 col-md-2 text-center">
        Date:
    </div>
    <div class="col-md-2">
      <%= format_date(purchaseOrder.OrderDate.Time) %>
    </div>
  </div>
  <br/>
  <div id="receiving-table" class="row" data="<%= purchaseOrder.Items.String() %>">
    <!-- table created from javascript -->
  </div>
</div>

<%= javascriptTag(assetPath("orders/receiving_list.js")) %>