@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-table/src/bootstrap-table.css";
@import "dashboard.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

table.datagrid {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;

    tbody>tr.active>td,
    tbody>tr.active:hover>td,
    tbody>tr.active>td>input,
    tbody>tr.active:focus>td {
        background-color:rgb(156, 218, 247);
    }

    th,
    td {
        text-align: center;
        vertical-align: middle;

        span.fa {
            font-size: 30px;
            width: 20px;
        }
    }
}

div.period-selector {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-daterange {
    display: table;
    vertical-align: bottom;
    float: none;
    
}

