@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-table/src/bootstrap-table.css";
@import "dashboard.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~spectrum-colorpicker/spectrum.css";
@import "~pikaday/scss/pikaday.scss";

table.datagrid {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;

    // tbody {
    //     overflow-y: auto;
    //     height: 1000px;
    // }
    tbody>tr.active>td,
    tbody>tr.active:hover>td,
    tbody>tr.active>td>input,
    tbody>tr.active:focus>td {
        background-color:rgb(156, 218, 247);
    }

    th,
    td {
        text-align: center;
        vertical-align: middle;

        span.fa {
            font-size: 30px;
            width: 20px;
        }
    }
}

div.period-selector {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.input-daterange {
    display: table;
    vertical-align: bottom;
    float: none;
    
}

.three-dot-button {
    content: '\2807';
    font-size: 20px;
}

div.placeholder {
    background: gray;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 1px solid green;
}

div.hidden-items {
    display: none;
}

.colorpicker-component {
    width: 20px;
}

.vertical-bar-chart {
    background: lightgray;

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .x.axis path {
        display: none;
    }
}

.multiline-graph {
    background: lightgray;

    path { 
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .legend {
        font-size: 14px;
        text-anchor: start;
    }
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    // padding-top: 102px;  
}

.currency-input {
    position: relative;
}

.currency {
    padding-left:18px;
}
  
.currency-symbol {
    position:absolute;
    padding: 8px 8px;
}

.edit-delete-button {
    width: 100%;
    text-align: right;
}

.check-label-right {
    padding-left: 25px;
}

div.inventory-view {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid gray;

    > div {
        padding-top: 10px;
    }
    .inventory-select {
        border-right: 1px solid gray;
    }
}