<div class="row">
    <div class="col-md-6">
      <input type="hidden" name="ID" value="<%= prepItem.ID %>" />
      <input type="text" name="Index" style="display: none;" 
        value='<%= prepItem.Index %>' />
      <input type="checkbox" id="inventory-item-check">
        From Inventory Item
      </input>
      <%= f.SelectTag("Batch Recipe", {options: recipes, id: "recipes-selector", 
                name: "BatchRecipeID", data: recipes.String(), 
                value: prepItem.BatchRecipeID}) %>
      <%= f.SelectTag("Inventory Item", {options: inventoryItems, id: "inventory-items-selector",
                name: "InventoryItemID", data: inventoryItems.String()}) %>
      <%= f.InputTag("CountUnit") %>
      <div class="form-group">
          <label id="other-unit-label">Recipe Unit</label>
          <p id="other-unit"><%= prepItem.RecipeUnit %></p>
      </div>
      <%= f.InputTag("Conversion") %>
    </div>
    <div class="col-md-6">
      <div id="item-ordering-table" data='<%= prepItems.String() %>'></div>
    </div>
  </div>
  <button class="btn btn-success" role="submit">Save</button>
  
  <%= javascriptTag(assetPath("components/categorized_prep_item_form.js")) %>
  <%= javascriptTag(assetPath("prep_items/prep_items_form.js")) %>
