<div class="page-header">
  <h1 class="text-center">Inventory</h1>
</div>

<%= partial("inventories/master_toggle.html", {page: "master"}) %>

<%= form({action: inventoryItemPath({inventory_item_id: "{item_id}"}), 
  method: "PUT", id: "inventory-item-form", data-remote: "true",
  style: "display: none;"}) { %> <% } %>

<div id="category-breakdown" class="row"></div>
<div class="row">
  <div class="col-md-12 text-md-right">
    <div class="btn-group">
      <button id="change-order-button" class="btn btn-primary">Change Order</button>
      <a href="<%= newInventoryItemsPath() %>" class="btn btn-primary">New Item</a>
    </div>
  </div>
</div>
<div id="categorized-items-display" class="row"
  edit-path='<%= editInventoryItemPath({inventory_item_id: "{inventory_item_id}"}) %>'
  delete-path='<%= inventoryItemPath({inventory_item_id: "{inventory_item_id}"}) %>'
  data='<%= inventory.Items.String() %>'></div>

<%= javascriptTag("inventory/inventories_index.js") %>