<div class="page-header">
  <h1 class="text-center">Inventory</h1>
</div>

<div id="period-selector-component" onchange-href="<%= inventoriesPath() %>">
  <%= partial("partials/period_selector.html", {changePath: inventoriesPath()}) %>
</div>

<div class="row">
  <div class="col-12 float-right">
    <a href="<%= newInventoriesPath() %>" class="btn btn-primary float-right">New Inventory</a>
  </div>
</div>

<div id="datagrid-holder" data-url='<%= editInventoryPath({inventory_id: "{inventory_id}"}) %>' update-url='<%= inventoryPath({inventory_id: "{inventory_id}"}) %>' data="<%= inventories.String() %>"></div></div>

<%= form({action: "/inventories/{inventory_id}", method: "PUT", id: "update-inventory-form", style: "display: none;"}) { %> <% } %>

<%= javascriptTag("inventory/inventories_index.js") %>