<div class="row">
    <div class="col-md-6">
      <input type="hidden" name="Index" value="<%= recipe.Index %>" />
      <%= f.CheckboxTag("IsBatch", {unchecked: false, label: "Batch Recipe"}) %>
      <%= f.InputTag("Name") %>
      <%= partial("partials/category_input", {item: recipe}) %>
      <%= f.InputTag("RecipeUnit") %>
      <%= f.InputTag("RecipeUnitConversion", {label: "Recipe Yield"}) %>
    </div>
    <div class="col-md-6">
      <div id="item-ordering-table" data='<%= recipes.String() %>'></div>
    </div>
</div> 
<div>
  <label>Ingredients</label>
  <div id="recipe-items-display" class="row"
       data='<%= recipe.Items.String() %>'
       all-items='<%= allItems.String() %>'></div>
  <input type="text" name="Items" style="display: none;"
          value='<%= recipe.Items.String() %>' />
</div>

<br/>
<button class="btn btn-success" role="submit">Save</button>

<%= javascriptTag("components/categorized_item_form.js") %>
<%= javascriptTag("recipes/recipes_form.js") %>
