<div class="page-header">
  <h1 class="text-center">Recipes</h1>
</div>
<div class="row">
  <div class="col-12">
    <a href="<%= newRecipesPath() %>" class="btn btn-primary float-right">
      New Recipe
    </a>
  </div>
</div>

<div id="data-holder" class="row" data="<%= recipes.String() %>"
    data-url='<%= editRecipePath({recipe_id: "{recipe_id}"}) %>'
    update-url='<%= recipePath({recipe_id: "{recipe_id}"}) %>'>
  <div class="col-md-6">
    <h2 class="text-center">Batch Recipes</h2>
    <div id="batch-datagrid" ></div>
  </div>
  <div class="col-md-6">
      <h2 class="text-center">Menu Recipes</h2>
      <div id="menu-datagrid"></div>
    </div>
</div>

<%= form({action: recipeInlinePath({recipe_id: "{recipe_id}"}), method: "PUT",
  id: "update-recipe-form", style: "display: none;"}) { %> <% } %>

<%= form({action: recipeItemPath({recipe_item_id: "{recipe_item_id}"}),
  method: "PUT", id: "update-recipe-item-form", style: "display: none;"}) { %> 
<% } %>

<%= javascriptTag(assetPath("recipes/recipes_index.js")) %>