<div class="page-header">
  <h1 class="text-center">Recipes</h1>
</div>
<div class="row">
  <div class="col-12 float-right">
    <a href="<%= newRecipesPath() %>" class="btn btn-primary">
      New Recipe
    </a>
  </div>
</div>

<div id="datagrid-holder" data-url='<%= editRecipePath({recipe_id: "{recipe_id}"}) %>'
  update-url='<%= recipePath({recipe_id: "{recipe_id}"}) %>'
  data="<%= recipes.String() %>"></div>

<%= form({action: recipePath({recipe_id: "{recipe_id}"}), method: "PUT",
  id: "update-vendor-form", style: "display: none;"}) { %> <% } %>

<%= javascriptTag("recipes/recipes_index.js") %>