<div class="page-header">
    <h2>Inventory Item Categories</h2>
</div>


<div class="row">
    <div class="col-md-6">
      <div class="input-group d-flex justify-content-end">
        <button id="add-category-button" class="btn btn-default"
          type="button">
            <span class="fa fa-plus">
        </button>
        <button id="delete-category-button" class="btn btn-default"
          type="button" data-link='<%= inventoryItemCategoryPath({inventory_item_category_id: "{inventory_item_category_id}"}) %>'>
            <span class="fa fa-minus">
        </button>
      </div>
      <ul class="list-group" id="categories-movable">
          <%= for (category) in inventoryItemCategories { %>
              <li itemid="<%= category.ID %>"
                class="list-group-item d-flex justify-content-between 
                align-items-center">
                  <span>
                      <%= category.Name %>
                  </span>
                  <input name="color" type="text" value="<%= category.Background %>" />
                        
                  <span class="drag-handle" style="font-size: 20px;">☰</span>
              </li>
          <% } %>
      </ul>
  </div>
</div>

<%= form({action: "/inventory_item_categories/{category_id}", method: "PUT",
  data-remote: "true", id: "update-category-form", style: "display: none;"})
  { %> <% } %>

<div class="row">
  <div class="col-md-3">
        <a class="btn btn-primary" href="<%= settingsPath() %>">Cancel</a>
  </div>
  <div class="col-md-3">
      <input id="save-inv-item-categories" type="button" class="btn btn-primary" value="Save">
  </div>
</div>

<%= javascriptTag("inventory_item_categories.js") %>
