<div class="page-header">
    <h2>Inventory Item Categories</h2>
</div>

<div class="row">
    <ul class="list-group" id="categories-movable" style="width: 400px;" on-save-url="<%= inventoryItemCategoriesPath() %>">
        <%= for (category) in inventoryItemCategories { %>
            <li itemid="<%= category.ID %>" class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <%= category.Name %>
                </span>
                <div class="input-group colorpicker-component" title="Using input value">
                    <input name="Background" type="text" class="form-control input-lg" style="visibility: collapse" value="<%= category.Background %>" />
                    <span class="input-group-addon"><i></i></span>
                </div>
                      
                <span class="drag-handle" style="font-size: 20px;">☰</span>
            </li>
        <% } %>
    </ul>
</div>

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary" href="<%= settingsPath() %>">Cancel</a>
    </div>
    <div class="col-md-3">
        <input id="save-inv-item-categories" type="button" class="btn btn-primary" value="Save">
    </div>
</div>