<div class="row">
  <div class="col-md-6">
    <%= f.InputTag("Name") %>
    <div class="form-group">
      <label>Category</label><br/>
      <input type="text" name="CategoryID" class="form-control"
            value='<%= inventoryItem.Category.Name %>'
            list="category-datalist-options" />
      <datalist id="category-datalist-options">
        <%= for (category) in categories { %>
          <option data-value='<%= category.ID %>'><%= category.Name %></option>
        <% } %>
      </datalist>
    </div>
    <%= f.InputTag("CountUnit") %>
    <%= f.InputTag("RecipeUnit") %>
    <%= f.InputTag("RecipeUnitConversion") %>
    <%= f.InputTag("Yield") %>
    <label>Vendors</label>
    <div id="add-remove-buttons"></div>
    <div id="vendor-datagrid" data='<%= vendorItems.String() %>'></div>
    <div name="modal"></div>
    <input type="text" name="VendorItemMap" style="display: none;" 
      value='<%= jsonMap(inventoryItem.VendorItemMap) %>' />
    <input type="text" name="Index" style="display: none;" 
      value='<%= inventoryItem.Index %>' />
  </div>
  <div class="col-md-6">
    <div id="inventory-items-display" data='<%= inventoryItems.String() %>'></div>
  </div>
</div>
<button class="btn btn-success" role="submit">Save</button>

<%= javascriptTag("inventory_items/inventory_items_form.js") %>
